﻿@model WebApplication.Areas.India.Models.IndiaModel
@{ViewData
                                        ["Title"] = "India : Motor Insurance";
}
<hr />
<h2>Details</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    <h4>Enter your personal information to proceed</h4>
    <div class="form-horizontal" style="background-color:#e6e6fa">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PostCode"> Post Code </label>
            <div class="col-md-6">
                @if (Model.PostCode_List.Count() > 0)
                {
                    @Html.DropDownList("PostCode", new SelectList(Model.PostCode_List, "Id", "PostCode", Model.Post_Code), "- Select Post Code  -", new { @class = "form-control" });
                }
                else
                {
                    <select id="PostCode" name="PostCode" class="form-control">
                        <option value="">-Select PostCode-</option>
                    </select>
                }
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="control-label col-md-2" for="Address"> Address </label>
                <div class="col-md-10">
                    @if (Model.AddressList.Count() > 0)
                    {
                        @Html.DropDownList("Address", new SelectList(Model.AddressList, "PostCode", "Address"), "- Select Address -", new { @class = "form-control" })
                    }
                    else
                    {
                        <select id="Address" name="Address" class="form-control">
                            <option value="">-Select Address-</option>
                        </select>
                    }
                    <hr />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<hr />
<div class="col-md-10">
    @Html.ActionLink("🔙 Go Back to choose Country", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#PostCode').change(function () {
        debugger;
        let PostCode = new Number($(this).val());
        if (PostCode > 0) {

            $.ajax({
                url: '@Url.Action("GetAddress_For_PostCode")',
                type: "POST",
                data: { PostCode: PostCode },
                data: { PostCode: PostCode },
                dataType: 'json',
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (Data) {
                    if (Data.length > 0) {
                        $('#Address').find('option[value!=""]').remove();
                        Data.forEach(function (ArrayElem) {
                            $('#Address').append('<option value="' + ArrayElem.PostCode + '">' + ArrayElem.Address + '</option>');
                        });

                    };

                },
                error: function (xhr) {
                    alert('Failed to load Data.')
                    console.log(xhr.responseText);
                    $('#loader-wrapper').hide();
                },
                complete: function () {
                    $('#loader-wrapper').hide();

                }
            });
        }
    });

</script>
