﻿@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>
<hr />
<h4>@ViewBag.Message</h4>
<hr />

<address>
    Abhilash STP<br />
    Vydehi Bus Stand, WhiteField<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:abhineet.sagar@tcs.com">abhineet.sagar@tcs.com</a><br />
   
</address>