﻿
@model WebApplication.Areas.UK.Models.UKModel
@{ViewData
                                  ["Title"] = "Your Quote is here";
}
<hr />
<h2> Your Quote</h2>
<hr />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.js"></script>
<script type="text/javascript">
    function showMessage() {
        alert("Thank You!");
    }
</script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Find your relevant Premium's here</h4>
    <div class="form-horizontal" style="background-color:#d3ffce">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Mins, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Mins, new { htmlAttributes = new { @class = "form-control" }, ReadOnly = "true" })
                @Html.ValidationMessageFor(model => model.Mins, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tpre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Tpre, new { htmlAttributes = new { @class = "form-control" }, ReadOnly = "true" })
                @Html.ValidationMessageFor(model => model.Tpre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tcov, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Tcov, new { htmlAttributes = new { @class = "form-control" }, ReadOnly = "true" })
                @Html.ValidationMessageFor(model => model.Tcov, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Accept" class="btn btn-default" onclick="showMessage()" />
            </div>
        </div>

    </div>
}
<hr />
<div class="col-md-10">
    @Html.ActionLink("🔙 Go Back to Enter Vehicle Information", "RiskView", "UK/UK", new { area = "" }, new { @class = "navbar-brand" })

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
