﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  : Enter Details</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#00ff40">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @Html.ActionLink("🏠 Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div style="float:right; margin-top:10px">
                <img src="@Url.Content("~/Content/img/uk_flag.png")" alt="IMAGES" height="50px" width="50px" />
                <h4 style="margin-top:10px ; float:inherit">UK</h4>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <hr />
            &nbsp;
            &nbsp;
            &nbsp;
            <p>&copy; @DateTime.Now.Year - Made by Abhineet Sagar (Emp. Id- 1595999)</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>